<ion-header>
  <ion-navbar hideBackButton="true">
    <ion-title>
      Mpin Login
    </ion-title>
  </ion-navbar>
</ion-header>
<ion-content padding class="pattern-bg">
  <br>
  <div style="margin-left:-10px;width:calc(100% + 20px);">
    <img src="assets/img/oCyQ3ST4Qy6s7UA6af33_400X100.png" style="display:block;width:100%;height:auto;margin-left:auto;margin-right:auto;" />
  </div>
  <br>
  <div class="white-bg">
    <p>Welcome <strong>{{name}}</strong>, ({{mobile}})</p>
    <br>
    <div col-offset-3 col-6 style="border:1px solid; padding-top:5px; margin: 0 auto;">
      <div class="row" style="text-align: center;height:30px;">
        <div class="col col-10 col-offset-15">
          <h3 *ngIf="passcode.length >= 1">&#8226;</h3>
        </div>
        <div class="col col-10 col-offset-10">
          <h3 *ngIf="passcode.length >= 2">&#8226;</h3>
        </div>
        <div class="col col-10 col-offset-10">
          <h3 *ngIf="passcode.length >= 3">&#8226;</h3>
        </div>
        <div class="col col-10 col-offset-10">
          <h3 *ngIf="passcode.length == 4">&#8226;</h3>
        </div>
      </div>
    </div>
    <div style="margin-top: 20px">
      <div class="row">
        <div class="col col-20 col-offset-20">
          <a class="button button-light button-stretch animateLink" on-click="add(1)">1</a>
        </div>
        <div class="col col-20">
          <a class="button button-light button-stretch animateLink" on-click="add(2)">2</a>
        </div>
        <div class="col col-20">
          <a class="button button-light button-stretch animateLink" on-click="add(3)">3</a>
        </div>
      </div>
      <div class="row">
        <div class="col col-20 col-offset-20">
          <a class="button button-light button-stretch animateLink" on-click="add(4)">4</a>
        </div>
        <div class="col col-20">
          <a class="button button-light button-stretch animateLink" on-click="add(5)">5</a>
        </div>
        <div class="col col-20">
          <a class="button button-light button-stretch animateLink" on-click="add(6)">6</a>
        </div>
      </div>
      <div class="row">
        <div class="col col-20 col-offset-20">
          <a class="button button-light button-stretch animateLink" on-click="add(7)">7</a>
        </div>
        <div class="col col-20">
          <a class="button button-light button-stretch animateLink" on-click="add(8)">8</a>
        </div>
        <div class="col col-20">
          <a class="button button-light button-stretch animateLink" on-click="add(9)">9</a>
        </div>
      </div>
      <div class="row">
        <div class="col col-20 col-offset-20">
          <a class="button button-light button-stretch"></a>
        </div>
        <div class="col col-20">
          <a class="button button-light button-stretch animateLink" on-click="add(0)">0</a>
        </div>
        <div class="col col-20">
          <a class="button icon ion-arrow-left-a button-light button-stretch animateLink" on-click="delete()">
            <ion-icon name="backspace" role="img" class="icon icon-md ion-md-backspace" aria-label="backspace" ng-reflect-name="backspace"></ion-icon>
          </a>
        </div>
      </div>
    </div>
    <br>
    <button ion-button clear color="positive" full small on-click="goToNewParent()">
        Different Account / forgot mpin ?
    </button>
  </div>

</ion-content>
