<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>
      Exams
    </ion-title>
    <ion-buttons end>
      <button ion-button icon-only on-click="goToStudent()">
        <ion-icon name="contacts"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>
<ion-content padding id="page8">
  <div *ngIf="totalCount > 0">
    <ion-list id="exams-list4">
      <ion-item class="animated fadeInLeft" color="none" id="exams-list-item15" *ngFor="let exam of exams">
        <h3><strong>{{exam.name}}</strong></h3>
        {{exam.status === "Published" ? (exam.is_present ? exam.marks : "Absent") : exam.status}} ( <strong><small>Out Of {{exam.total_marks}} </small></strong>)
        <ion-note item-right><small>{{exam.date}}</small></ion-note>
      </ion-item>
    </ion-list>
    <ion-infinite-scroll (ionInfinite)="doInfinite($event)">
      <ion-infinite-scroll-content></ion-infinite-scroll-content>
    </ion-infinite-scroll>
  </div>
  <div *ngIf="isLoading === false && totalCount == 0">
    <h3 style="color:red;">Exams not present</h3>
  </div>
</ion-content>
