<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Notifications</ion-title>
    <ion-buttons end>
      <button ion-button icon-only on-click="goToStudent()">
        <ion-icon name="contacts"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
  <ion-list no-margin>
    <ion-row>
      <ion-col padding-horizontal><h6>Total Records - {{totalCount}}</h6></ion-col>
    </ion-row>
  </ion-list>
</ion-header>

<ion-content>
  <div *ngIf="totalCount > 0">
    <ion-cardcolor="none" id="notifications-list-item16" *ngFor="let notification of notifications">
      <ion-card-header>
        <h3 class="dtpName"><strong [innerHtml]="notification.note"></strong></h3>
      </ion-card-header>
      <ion-item *ngIf="notification.date">
        <ion-icon name='alarm' item-start></ion-icon>
        {{notification.date}}
      </ion-item>
      <ion-item *ngIf="notification.student">
        <ion-icon name='person' item-start></ion-icon>
        {{notification.student}}
      </ion-item>
    </ion-card>
    <ion-infinite-scroll (ionInfinite)="doInfinite($event)">
      <ion-infinite-scroll-content></ion-infinite-scroll-content>
    </ion-infinite-scroll>
  </div>
  <br>
  <div text-center *ngIf="!isLoading && totalCount == 0">
    <strong style="color:red;">No Notifications</strong>
  </div>
</ion-content>
