<!--
  Generated template for the NotificationPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Notifications</ion-title>
    <ion-buttons end>
      <button ion-button icon-only on-click="goToStudent()">
        <ion-icon name="contacts"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
  <ion-list id="notification-header" class="relative">
    <h5 class="paddingL10"><small><strong>Total Records - </strong> {{totalCount}}</small></h5>
    <ion-note item-right class="right">
      <button ion-button icon-left clear color="dark" on-click="filterNotification()">
        <ion-icon name="funnel" [ngClass]="{'danger': isFltered}"></ion-icon>
        Filter
      </button>
    </ion-note>
  </ion-list>
</ion-header>
<ion-content>
  <div *ngIf="totalCount > 0">
    <ion-card class="animated fadeInLeft" color="none" id="notifications-list-item16" *ngFor="let notification of notifications">
      <ion-card-header>
        <h3 class="dtpName"><strong [innerHtml]="notification.note"></strong></h3>
      </ion-card-header>
      <ion-item *ngIf="notification.date">
        <ion-icon name='alarm' item-start></ion-icon>
        {{notification.date}}
      </ion-item>
      <ion-item *ngIf="notification.student">
        <ion-icon name='person' item-start></ion-icon>
        {{notification.student}}
      </ion-item>
    </ion-card>
    <ion-infinite-scroll (ionInfinite)="doInfinite($event)">
      <ion-infinite-scroll-content></ion-infinite-scroll-content>
    </ion-infinite-scroll>
  </div>
  <div *ngIf="!isLoading && totalCount == 0">
    <h3 style="color:red;">Notifications not present</h3>
  </div>
</ion-content>
