// App Global Sass

$primary:    #477daa;

.toolbar-background-md {
  border-color: #b2b2b2;
  background: $primary;
  color: #fff;
}

.toolbar-title-md {
  color: #FFF;
}

.bar-button-default-md {
  color: #FFF;
}

.pattern-bg {
  background: radial-gradient(#aaa 3px, transparent 4px), radial-gradient(#aaa 3px, transparent 4px), linear-gradient(#fff 4px, transparent 0), linear-gradient(45deg, transparent 74px, transparent 75px, #e4e4e4 75px, #e4e4e4 76px, transparent 77px, transparent 109px), linear-gradient(-45deg, transparent 75px, transparent 76px, #e4e4e4 76px, #e4e4e4 77px, transparent 78px, transparent 109px), #fff;
  background-size: 109px 109px, 109px 109px,100% 6px, 109px 109px, 109px 109px;
  background-position: 54px 55px, 0px 0px, 0px 0px, 0px 0px, 0px 0px;
}

.animated {
  animation-duration: 1s;
  animation-fill-mode: both;
}

@keyframes fadeInLeft {
  from {
    opacity: 0;
    transform: translate3d(-100%, 0, 0);
  }

  to {
    opacity: 1;
    transform: none;
  }
}

.fadeInLeft {
  animation-name: fadeInLeft;
}

