<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>
      Daily teaches
    </ion-title>
    <ion-buttons end>
      <button ion-button icon-only on-click="goToStudent()">
        <ion-icon name="contacts"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>
<ion-content padding id="page9">
  <div *ngIf="totalCount > 0">
    <ion-list id="dailyTeaches-list5">
      <ion-item class="animated fadeInLeft" color="none" id="dailyTeaches-list-item16" *ngFor="let dtp of daily_teachs">
        {{dtp.subject}}
        <br />
        {{dtp.date}}
        <br>
        <small>{{dtp.points}}</small>
        <ion-note item-right>{{(dtp.verify_absenty && dtp.is_absent) ? "Absent" : ""}}</ion-note>
      </ion-item>
    </ion-list>
    <ion-infinite-scroll (ionInfinite)="doInfinite($event)">
      <ion-infinite-scroll-content></ion-infinite-scroll-content>
    </ion-infinite-scroll>
  </div>
  <div *ngIf="!isLoading && totalCount == 0">
    <h3 style="color:red;">Daily Teaches not present</h3>
  </div>
</ion-content>
