<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>
      Daily teaches
    </ion-title>
    <ion-buttons end>
      <button ion-button icon-only on-click="goToStudent()">
        <ion-icon name="contacts"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
  <ion-list id="exam-header" class="relative">
    <h5 class="paddingL10"><small><strong>Total Records - </strong> {{totalCount}}</small></h5>
    <ion-note item-right class="right">
      <button ion-button icon-left clear color="dark" on-click="filterDailyTeaches()">
        <ion-icon name="funnel" [ngClass]="{'danger': isFltered}"></ion-icon>
        Filter
      </button>
    </ion-note>
  </ion-list>
</ion-header>
<ion-content padding id="page9">
  <div *ngIf="totalCount > 0">
    <ion-card class="animated fadeInLeft" color="none" id="dailyTeaches-list-item16" *ngFor="let dtp of daily_teachs">
      <ion-card-header>
        <h3 class="dtpName"><strong [innerHtml]="dtp.subject"></strong></h3>
        <span [innerHtml]="dtp.date"></span>
      </ion-card-header>
      <ion-card-content>
        <p><small [innerHtml]="dtp.points"></small></p>
        <ion-note item-right><span [innerHtml]="dtp.is_absent"></span></ion-note>
      </ion-card-content>
    </ion-card>
    <ion-infinite-scroll (ionInfinite)="doInfinite($event)">
      <ion-infinite-scroll-content></ion-infinite-scroll-content>
    </ion-infinite-scroll>
  </div>
  <div *ngIf="!isLoading && totalCount == 0">
    <h3 style="color:red;">Daily Teaches not present</h3>
  </div>
</ion-content>
