page-eracord {
  .onboarding-content {
    padding: 20px;
    .logo-container {
      margin-top: 50px;
    }
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    .onboarding-slider {
      height: 300px;
      background: #f3f3f3;
      border-radius: 15px;
      padding: 20px;
      .swiper-slide {
        width: 100%;
      }
      .swiper-pagination {
        bottom: 0;
      }
      .onboarding-list {
        margin: 0 auto;
        width: 70%;
        min-height: 150px;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        li {
          list-style-type: none;
          position: relative;
          &::before {
            font-family: "Ionicons";
            content: "\f2bb";
            padding: 0;
            position: absolute;
            left: -25px;
            top: 2px;
          }
        }
      }
    }
  }
}
