<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>
      Payment History
    </ion-title>
  </ion-navbar>
  <ion-list>
    <ion-row>
      <ion-col padding-horizontal><h6>Total Records - {{totalCount}}</h6></ion-col>
    </ion-row>
  </ion-list>
</ion-header>
<ion-content padding id="page8">
  <div *ngIf="totalCount > 0">
    <ion-list id="payments-list4">
      <ion-item color="none" id="payments-list-item15" *ngFor="let payment of payments">
        <h3 class="paymentName"><strong [innerHtml]="payment.name"></strong></h3>
        <span [innerHtml]="payment.desc"></span>
        <ion-note item-right><small [innerHtml]="payment.amount"></small></ion-note>
      </ion-item>
    </ion-list>
    <ion-infinite-scroll (ionInfinite)="doInfinite($event)">
      <ion-infinite-scroll-content></ion-infinite-scroll-content>
    </ion-infinite-scroll>
  </div>
  <div text-center *ngIf="isLoading === false && totalCount == 0">
    <strong style="color:red;">No Payments</strong>
  </div>
</ion-content>
