page-eracord-payment {
  #attributes .attribute_list input.attribute_radio {
    display:none;
    margin:10px;
    + label {
      display: inline-block;
      padding: 4px 12px;
      width: 100%;
      border: 1px solid #ddd;
      cursor: pointer;
      .amount {
        font-size: 24px;
        font-weight: bold;
        text-align: center;
      }
      .description {
        font-size: 18px;
        text-align: center;
        font-style: italic;
      }
    }
    &:checked + label {
      background: #ddd;
    }
  }
  ul {
    margin: 0;
    padding: 0;
    margin-bottom: 30px;
  }

  ul li {
    display: inline-block;
    margin-bottom: 10px;
    width: 100%;
  }

}
