<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>
      Students
    </ion-title>
    <ion-buttons end>
      <button ion-button icon-only on-click="getStudents()">
        <ion-icon name="refresh"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>
<ion-content padding id="page15" >
  <div id="students-markdown3" class="show-list-numbers-and-dots" *ngIf="students.length == 0 && !reqLoading">
    <p style="color:#000000;">
      You are not connect with any student organisation. Please contact to student Class / School / College. Or contact with eracord Admin.
    </p>
  </div>
  <ion-list id="students-list4" *ngIf="students.length > 0">
    <div *ngFor="let student of students">
      <ion-list id="menu-list3">
        <ion-item-divider color="light" class="divider">
          <ion-avatar item-start>
            <img src="{{student.photo_url}}">
          </ion-avatar>
          <strong>{{student.name}}</strong><br/>
          {{student.organisation_name}}
          
        </ion-item-divider>
        <ion-grid>
          <ion-row style="height: 70px;" text-center justify-content-center align-items-center>
            <ion-col on-click="goToDailyTeaches({studentId: student.student_id})" col-4 class="colBottomNoBorder" justify-content-center align-items-center>
              <ion-icon name="school" item-left></ion-icon>
              <br />
              Daily teaches
            </ion-col>
            <ion-col on-click="goToExams({studentId: student.student_id})" col-4 class="colNoBorder colBottomNoBorder">
              <ion-icon name="list-box" item-left></ion-icon>
              <br />
              Exams
            </ion-col>
            <ion-col on-click="goToHostel({studentId: student.student_id})" col-4 class="colBottomNoBorder">
              <ion-icon name="home" item-left></ion-icon>
              <br />
              Hostel
            </ion-col>
          </ion-row>
          <ion-row style="height: 70px;" text-center justify-content-center align-items-center>
            <ion-col on-click="goToAccount({studentId: student.student_id, hasPayOnline: student.has_online_pay})" col-4>
              <ion-icon name="briefcase" item-left></ion-icon>
              <br />
              Accounts
            </ion-col>
            <ion-col on-click="goToNotifications({studentId: student.student_id})" col-4 class="colNoBorder">
              <ion-icon name="alarm" item-left></ion-icon>
              <ion-badge color="danger" class="badgeRight" item-end *ngIf="student.notification_count > 0">{{student.notification_count}}</ion-badge>
              <br />
              Notifications
            </ion-col>
            <ion-col on-click="goToSetting({studentId: student.student_id})" col-4>
              <ion-icon name="construct" item-left></ion-icon>
              <br />
              Setting
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-list>
    </div>
  </ion-list>
</ion-content>

