page-students {
  .divider{
    background: linear-gradient(to bottom right, #3399ff 0%, #339A03 300%);
  }

  ion-icon {
    display: inline-block;
    font-size: 1.5em;
    line-height: 36px;
  }
  .col{
    border: solid gray 1px;
    height: 100%;
  }
  .colNoBorder {
    border-left: none;
    border-right: none;
  }
  .colBottomNoBorder {
    border-bottom: none;
  }
}
