page-students {
  .divider{
    background: #ccc;
    border: 1px solid gray;
    border-bottom: 0;
  }
  .grid {
    padding: 0;
  }
  ion-icon {
    display: inline-block;
    font-size: 1.5em;
    line-height: 36px;
  }
  .col{
    border: solid gray 1px;
    height: 100%;
  }
  .colNoBorder {
    border-left: none;
    border-right: none;
  }
  .colBottomNoBorder {
    border-bottom: none;
  }
  .badgeRight {
    float: right;
    position: absolute;
    right: 5px;
  }
}
