<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>
      Students
    </ion-title>
    <ion-buttons end>
      <button ion-button icon-only>
        <ion-icon name="briefcase"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>
<ion-content padding id="page15" >
  <div id="students-markdown3" class="show-list-numbers-and-dots" *ngIf="students.length == 0">
    <p style="color:#000000;">
      You are not connect with any student organisation. Please contact to student Class / School / College. Or contact with eracord Admin.
    </p>
  </div>
  <ion-list id="students-list4" *ngIf="students.length > 0">
    <div *ngFor="let student of students">
      <h3 id="student-heading7" style="color:#000000;">{{student.name}}</h3>
      <ion-list id="menu-list3">
        <ion-item color="none" menuClose="" on-click="goToExams({studentId: student.student_id})" id="menu-list-item10">
          <ion-icon name="school" item-left></ion-icon>
          Exams
        </ion-item>
        <ion-item color="none" menuClose="" on-click="goToDailyTeaches({studentId: student.student_id})" id="menu-list-item11">
          <ion-icon name="list-box" item-left></ion-icon>
          Daily teaches
        </ion-item>
        <ion-item color="none" menuClose="" on-click="goToHostel({studentId: student.student_id})" id="menu-list-item12">
          <ion-icon name="home" item-left></ion-icon>
          Hostel
        </ion-item>
        <ion-item color="none" menuClose="" on-click="goToAccount({studentId: student.student_id})" id="menu-list-item13">
          <ion-icon name="bitcoin" item-left></ion-icon>
          Accounts
        </ion-item>
        <ion-item color="none" id="menu-list-item14">
          <ion-icon name="alarm" item-left></ion-icon>
          Notifications
        </ion-item>
        <ion-item color="none" menuClose="" on-click="goToSetting({studentId: student.student_id})" id="menu-list-item21">
          <ion-icon name="construct" item-left></ion-icon>
          Setting
        </ion-item>
      </ion-list>
    </div>
  </ion-list>
</ion-content>

