<ion-header>
  <ion-list id="examFilter-header" class="relative gradient">
    <button ion-button icon-left clear color="dark" on-click="back()" *ngIf="(filterData.subjects.length == 0 && filterData.startDate == '' && filterData.endDate == '' && filterData.absentee === 'all' && filterData.examType === 'all')">
      <ion-icon name="arrow-dropleft"></ion-icon>
      Back
    </button>
    <button ion-button icon-left clear color="dark" on-click="clear()" *ngIf="!(filterData.subjects.length == 0 && filterData.startDate == '' && filterData.endDate == '' && filterData.absentee === 'all' && filterData.examType === 'all')">
      <ion-icon name="close"></ion-icon>
      Clear
    </button>
    <ion-note item-right class="right">
      <button ion-button icon-left clear color="dark" on-click="apply()">
        <ion-icon name="checkmark-circle"></ion-icon>
        Apply
      </button>
    </ion-note>
  </ion-list>
</ion-header>

<ion-content padding>
  <ion-list id="exam-filter">
    <ion-item-divider class="gradient" color="light">Subjects Filter</ion-item-divider>
    <ion-item *ngFor="let subject of subjects">
      <ion-label [innerHtml]="subject.name"></ion-label>
      <ion-checkbox color="dark" checked="{{filterData.subjects.includes(subject.id)}}" on-click="checkSubject(this, subject.id)"></ion-checkbox>
    </ion-item>

    <ion-item-divider class="gradient" color="light">Date Filter</ion-item-divider>
    <ion-item>
      <ion-label floating>Start Date</ion-label>
      <ion-datetime displayFormat="MMM DD YYYY" [(ngModel)]="filterData.startDate"></ion-datetime>
    </ion-item>
    <ion-item>
      <ion-label floating>End Date</ion-label>
      <ion-datetime displayFormat="MMM DD YYYY" [(ngModel)]="filterData.endDate"></ion-datetime>
    </ion-item>
  </ion-list>
  <ion-list radio-group [(ngModel)]="filterData.absentee">
    <ion-item-divider class="gradient" color="light">Absentee Filter</ion-item-divider>
    <ion-item>
      <ion-label>All</ion-label>
      <ion-radio checked="true" value="all"></ion-radio>
    </ion-item>
    <ion-item>
      <ion-label>Only Presents</ion-label>
      <ion-radio  value="presents"></ion-radio>
    </ion-item>
    <ion-item>
      <ion-label>Only Absents</ion-label>
      <ion-radio  value="absentes"></ion-radio>
    </ion-item>
  </ion-list>
  <ion-list radio-group [(ngModel)]="filterData.examType">
    <ion-item-divider class="gradient" color="light">Exam Type Filter</ion-item-divider>
    <ion-item>
      <ion-label>All</ion-label>
      <ion-radio checked="true" value="all"></ion-radio>
    </ion-item>
    <ion-item>
      <ion-label>Upcomming</ion-label>
      <ion-radio  value="upcomming"></ion-radio>
    </ion-item>
    <ion-item>
      <ion-label>Published</ion-label>
      <ion-radio  value="published"></ion-radio>
    </ion-item>
    <ion-item>
      <ion-label>Conducted</ion-label>
      <ion-radio  value="conducted"></ion-radio>
    </ion-item>
  </ion-list>
</ion-content>
