<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>
      Account
    </ion-title>
    <ion-buttons end>
      <button ion-button icon-only on-click="goToStudent()">
        <ion-icon name="contacts"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
  <ion-list id="exam-header" class="relative">
    <h5 class="paddingL10"><small><strong [innerHtml]="balance"></strong></small></h5>
    <ion-note item-right class="right">
      <button ion-button icon-left clear color="dark" on-click="filterAccount()">
        <ion-icon name="funnel"></ion-icon>
        Filter
      </button>
    </ion-note>
  </ion-list>
</ion-header>
<ion-content padding id="page11">
  <ion-list id="account-list8">
    <ion-item-divider class="gradient" color="light">Transactions ({{totalCount}})</ion-item-divider>
    <div *ngIf="totalCount > 0">
      
      <ion-item  class="animated fadeInLeft" color="none" id="account-list-item19" *ngFor="let transaction of transactions">
        <h3><strong [innerHtml]="transaction.date"></strong></h3>
        <span [innerHtml]="transaction.obj_type"></span>
        <ion-note item-right class="{{transaction.class}}"><span [innerHtml]="transaction.amount"></span></ion-note>
      </ion-item>
    </div>
  </ion-list>
  <ion-infinite-scroll (ionInfinite)="doInfinite($event)">
    <ion-infinite-scroll-content></ion-infinite-scroll-content>
  </ion-infinite-scroll>
  
  <div *ngIf="!isLoading && totalCount == 0">
    <h3 style="color:red;">Transactions not present</h3>
  </div>
</ion-content>
