page-account {
  .credit {
    color: green;
  }
  .debit {
    color: red;
  }

  .examName {
    line-height: 2rem;
  }
  .right {
    position: absolute;
    top: -8px;
    right: 5px;
  }
  .relative {
    position: relative;
  }
  .paddingL10 {
    padding-left: 10px;
  }
}
