<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>
      Account
    </ion-title>
    <ion-buttons end>
      <button ion-button icon-only on-click="goToStudent()">
        <ion-icon name="contacts"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>
<ion-content padding id="page11">
  <h4 id="account-heading10" class="{{balance < 0 ? 'red' : ''}}">
    Balance <small><strong>{{balance < 0 ? (balance * -1) : balance}}</strong></small> <small style="color: red;" *ngIf="balance < 0">Due</small>
  </h4>
  <h5 id="account-heading11" style="color:#000000;">
    Transactions
  </h5>
  <ion-list id="account-list8">
    <ion-item color="none" id="account-list-item19" *ngFor="let transaction of transactions">
      {{transaction.date}}
      <br />
      {{transaction.obj_type}}
      <ion-note item-right>{{transaction.amount}}</ion-note>
    </ion-item>
  </ion-list>
</ion-content>
