page-daily-teaches-filter {
  .gradient {
    background: linear-gradient(to bottom right, #3399ff 0%, #339A03 300%);
  }
  #examFilter-header {
    margin:0;
  }
  .right {
    position: absolute;
    top: 0px;
    right: 5px;
  }
  .relative {
    position: relative;
  }
  .paddingL10 {
    padding-left: 10px;
  }
}
