<!--
  Generated template for the ExamFilterPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-list id="examFilter-header" class="relative gradient">
    <button ion-button icon-left clear color="dark" on-click="back()" *ngIf="(filterData.startDate == '' && filterData.endDate == '' && filterData.transactionType === 'all')">
      <ion-icon name="arrow-dropleft"></ion-icon>
      Back
    </button>
    <button ion-button icon-left clear color="dark" on-click="clear()" *ngIf="!(filterData.startDate == '' && filterData.endDate == '' && filterData.transactionType === 'all')">
      <ion-icon name="close"></ion-icon>
      Clear
    </button>
    <ion-note item-right class="right">
      <button ion-button icon-left clear color="dark" on-click="apply()">
        <ion-icon name="checkmark-circle"></ion-icon>
        Apply
      </button>
    </ion-note>
  </ion-list>
</ion-header>

<ion-content padding>
  <ion-list id="exam-filter">
    <ion-item-divider class="gradient" color="light">Date Filter</ion-item-divider>
    <ion-item>
      <ion-label floating>Start Date</ion-label>
      <ion-datetime displayFormat="MMM DD YYYY" [(ngModel)]="filterData.startDate"></ion-datetime>
    </ion-item>
    <ion-item>
      <ion-label floating>End Date</ion-label>
      <ion-datetime displayFormat="MMM DD YYYY" [(ngModel)]="filterData.endDate"></ion-datetime>
    </ion-item>
  </ion-list>
  <ion-list radio-group [(ngModel)]="filterData.transactionType">
    <ion-item-divider class="gradient" color="light">Transaction Type Filter</ion-item-divider>
    <ion-item>
      <ion-label>All</ion-label>
      <ion-radio checked="true" value="all"></ion-radio>
    </ion-item>
    <ion-item>
      <ion-label>Debits</ion-label>
      <ion-radio  value="debits"></ion-radio>
    </ion-item>
    <ion-item>
      <ion-label>Credits</ion-label>
      <ion-radio  value="credits"></ion-radio>
    </ion-item>
  </ion-list>
</ion-content>
