page-register-parent {
  form {
    border: 1px solid #eaeaea;
    border-radius: 25px;
    overflow: hidden;
    padding-right: 15px;
    background: #fff;
  }

  .list-header-md.error {
    background: rgba(255, 0, 0, 0.33);
    color: #FFF;
  }
  .list-header-md.success{
    background: rgba(0, 255, 0, 0.33);
    color: #000;
  }
}
