<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>
      Register Parent
    </ion-title>
  </ion-navbar>
</ion-header>
<ion-content padding id="page5">
  <div class="spacer" style="width:300px;height:26px;" id="registerParent-spacer5"></div>
  <div style="margin-left:-10px;width:calc(100% + 20px);">
    <img src="assets/img/oCyQ3ST4Qy6s7UA6af33_400X100.png" style="display:block;width:100%;height:auto;margin-left:auto;margin-right:auto;" />
  </div>
  <div class="spacer" style="width:300px;height:22px;" id="registerParent-spacer6"></div>
  <h3 id="registerParent-heading2" style="color:#000000;">
    name - {{name}}
  </h3>
  <h4 id="registerParent-heading3" style="color:#000000;">
    Mobile - {{mobile}}
  </h4>
  <form [formGroup]="parentForm" id="registerParent-form2">
    <ion-item id="registerParent-input3">
      <ion-label floating>Email</ion-label>
      <ion-input formControlName="email" type="email" placeholder="Email"></ion-input>
    </ion-item>
    <ion-item id="registerParent-input4">
      <ion-label floating>MPIN (4 Digit)</ion-label>
      <ion-input formControlName="mpin" type="tel" placeholder="MPIN" class="mask-text" maxlength="4"></ion-input>
    </ion-item>
    <ion-item id="registerParent-input5">
      <ion-label floating>Confirm MPIN</ion-label>
      <ion-input formControlName="confirm_mpin" type="tel" placeholder="Confirm MPIN" class="mask-text" maxlength="4"></ion-input>
    </ion-item>
    <ion-item id="registerParent-input6">
      <ion-label floating>SMS Code</ion-label>
      <ion-input formControlName="token" type="number" placeholder="SMS Code" class="mask-text"></ion-input>
    </ion-item>
    <ion-item class="borderLess" padding>
      <button id="registerParent-button5" ion-button item-right clear color="positive" small [disabled]="smsSending" on-click="resendSms()">
        Resend SMS
        <ion-spinner class="button-spinner" *ngIf="smsSending"></ion-spinner>
      </button>
    </ion-item>
    <ion-list-header id="registerParent-input7" class="{{errorClass}} list-header-md" *ngIf="hasError">
      {{errors}}
    </ion-list-header>
    <button id="registerParent-button4" ion-button color="positive" full on-click="register()" [disabled]="!parentForm.valid">
      Register
    </button>
  </form>
</ion-content>
