<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>
      Hostel
    </ion-title>
    <ion-buttons end>
      <button ion-button icon-only>
        <ion-icon name="bitcoin"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>
<ion-content padding id="page10">
  <div *ngIf="hostelName != ''">
    <h3 id="hostel-heading7" style="color:#000000;">
      {{hostelName}}
    </h3>
    <h5 id="hostel-heading8" style="color:red;" *ngIf="roommates.length == 0">
      Room not allocated
    </h5>
    <h5 id="hostel-heading8" style="color:#000000;" *ngIf="roommates.length > 0">
      Roommates
    </h5>
    <ion-list id="hostel-list6" *ngIf="roommates.length > 0">
      <ion-item color="none" id="hostel-list-item17" *ngFor="let student of roommates">
        {{student}}
      </ion-item>
    </ion-list>
    <h5 id="hostel-heading9" style="color:#000000;">
      IN Out Timing
    </h5>
    <ion-list id="hostel-list7">
      <ion-item color="none" id="hostel-list-item18">
        inout.date
        <br />
        <ion-note item-right></ion-note>
      </ion-item>
    </ion-list>
  </div>
  <div *ngIf="hostelName == ''">
    <h3 style="color:red;">Hostel not present  </h3>
  </div>
</ion-content>
