<!--
  Generated template for the ExamDetailPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-navbar>
    <ion-title>{{exam.name}}</ion-title>
  </ion-navbar>
</ion-header>


<ion-content>
  <ion-card *ngIf="exam">
    <ion-card-content>
      <ion-card-title>
        {{exam.desc}}
      </ion-card-title>
      <p>
        {{exam.name}}
      </p>
      <p [innerHtml]="exam.marks">
      </p>
    </ion-card-content>
    
    <ion-item *ngIf="exam.is_present == false">
      <ion-icon name='bug' item-start color="danger"></ion-icon>
      Absent
    </ion-item>
    <ion-item *ngIf="exam.status =='Published'">
      <ion-icon name=trending-up item-start style="color: #d03e84"></ion-icon>
      Percentage
      <ion-badge item-end [innerHtml]="exam.percentage"></ion-badge>
    </ion-item>

    <ion-item *ngIf="exam.status =='Published'">
      <ion-icon name='medal' item-start style="color: #55acee"></ion-icon>
      Rank
      <ion-badge item-end [innerHtml]="exam.rank"></ion-badge>
    </ion-item>
    <ion-card-content *ngIf="exam.notice">
      <p [innerHtml]="exam.notice">
      </p>
    </ion-card-content>
  </ion-card>
</ion-content>
