<ion-header>
  <ion-navbar>
    <ion-title>{{exam.name}}</ion-title>
  </ion-navbar>
</ion-header>


<ion-content>
  <ion-card *ngIf="exam">
    <ion-card-content>
      <ion-card-title>
        {{exam.desc}}
      </ion-card-title>
      <p>
        {{exam.name}}
      </p>
      <p [innerHtml]="exam.marks">
      </p>
    </ion-card-content>

    <ion-item *ngIf="exam.is_present == false">
      <ion-icon name='bug' item-start color="danger"></ion-icon>
      Absent
    </ion-item>
    <ion-item *ngIf="exam.status =='Published'">
      <ion-icon name=trending-up item-start style="color: #d03e84"></ion-icon>
      Percentage
      <ion-badge item-end [innerHtml]="exam.percentage"></ion-badge>
    </ion-item>

    <ion-item *ngIf="exam.status =='Published'">
      <ion-icon name='medal' item-start style="color: #55acee"></ion-icon>
      Rank
      <ion-badge item-end [innerHtml]="exam.rank"></ion-badge>
    </ion-item>
    <ion-card-content *ngIf="exam.notice">
      <p [innerHtml]="exam.notice">
      </p>
    </ion-card-content>
  </ion-card>
  <h5 id="exam-detail-heading8" style="color:#000000;" *ngIf="exam && exam.upcomming && exam.upcomming.length > 0">
    <ion-item-divider color="light">Upcomming exams</ion-item-divider>
  </h5>
  <ion-card *ngFor="let uc_exam of exam.upcomming">
    <ion-card-header [innerHtml]="uc_exam.date">
    </ion-card-header>
    <ion-card-content>
      <p [innerHtml]="uc_exam.points">
      </p>
    </ion-card-content>
  </ion-card>
</ion-content>
